

.container {
    display: flex;
    background-color: blanchedalmond;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 4rem;
}


.family {
    width: 400px;
    height: 600px;
}

.text {
    padding: 1rem 4rem;
    line-height: 2rem;
}






@media (max-width: 1050px) {
    .container {
        flex-direction: column;
    }
    .family {
        width: 300px;
        height: 400px;
    }
    .text {
        padding: 1rem 2rem;
    }
    
}