


.corporate_gifts_container {
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3; /* Change this to the background color you want */
    padding: 2rem;
    text-align: center;
    margin: 4rem 10rem;
  }
  
  .text_content {
    flex: 1;    
  }
  
  .text_content h3 {
    color: #333; /* Adjust font color as needed */
    padding: 1rem 0;
    
  }
  
  .text_content p {
    color: #666; /* Adjust font color as needed */
    line-height: 1.6;
    padding: 2rem 0;
    
  }
  
  .text_content hr {
    border: none;
    height: 2px;
    background-color: #ccc; /* Adjust line color as needed */
    margin: 2rem 0;
  }
  
  .image_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image_content img {
    width: 100%;
    max-width: 300px; /* Adjust to the size of your image */
    height: auto;
  }


.contact_container {
    background-color: antiquewhite;
    text-align: center;
    align-items: center;
    margin: 4rem 10rem;
}

.contact_header {
    font-weight: bold;
    margin-bottom: 1rem;
}

.contact_text {
    padding: 1rem;
}

.contact_text span {
    font-weight: bold;
}

.contact_info {
    align-items: center;
}


.promo_container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.promo_header {
    margin-top: 2rem;
}

.items {
    padding: 2rem;
}

.promo_icon {
    margin-bottom: 1rem;
}





  @media (max-width: 1300px) {
    .corporate_gifts_container, .contact_container {
      margin: 0rem;
    }
  }


  @media (max-width: 650px) {
    .promo_container {
        display: flex;
        flex-direction: column;
    }
    .items {
        padding: 1rem;
    }
  }