


.container {
    display: flex;
    align-items: center;
}

.logo {
    height: 150px;
    width: 150px;
}


.info {
    padding-left: 4rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    color: pink;
}

@media (max-width: 1150px) {
    .logo {
        display: block;
    }

    .info {
        display: none;
    }
}

