




.container {
  background-color: #198754;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_wrapper {
  display: flex;
  align-items: center;
}

.logo {
  height: 150px;
  width: 150px;
}

.info {
  padding-left: 4rem;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  color: pink;
}


.right_wrapper {
  display: flex;
  padding: 0 4rem;
  gap: 1rem;
}

.contact {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  text-wrap: nowrap;
  color: bisque;
}

.phone_icon {
  padding: 0 0.25rem;
}

.cart {
  color: white;
}


@media (max-width: 1150px) {
  .logo {
      min-width: 150px;
      min-height: 150px;
  }
}


@media (max-width: 850px) {

.contact {
  display: none;
}

}



@media (max-width: 650px) {

  .info {
    margin: 0.75rem 0;
}

.contact {
  display: none;
}

.right_wrapper {
  padding: 0 2rem;
}
}

@media (max-width: 550px) {

  .info {
    display: none;
}

.contact {
  display: none;
}

.right_wrapper {
  padding: 0 2rem;
}
}